@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-paragraph-size: '12px';
}

body {
  color: theme('colors.white');
  background: theme('colors.fade-black');
  font-size: var(--default-paragraph-size);
}

a, button {
  cursor: pointer;
}

footer {
  color: theme('colors.fade-black-400')
}

footer a, .sidebar a {
  transition: all 120ms ease-in-out;
}

footer a:hover {
  color: theme('colors.white');
}

.sidebar a:hover {
  color: theme('colors.white');
}

input {
  color: theme('colors.fade-black');
  background: theme('colors.white');
  border: none;
  outline: none;
  border-radius: .2rem;
  padding: .2em .4em;
}

input:focus {
  outline: 2px solid theme('colors.info');
  border: none;
}