@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-paragraph-size: '12px';
}

body {
  color: theme('colors.white');
  background: theme('colors.fade-black');
  font-size: var(--default-paragraph-size);
}

a, button {
  cursor: pointer;
}

footer {
  color: theme('colors.fade-black-400')
}

footer a:hover {
  color: theme('colors.white');
}