@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-paragraph-size: '12px';
}

html {
  overflow-x: hidden;
  max-width: 100dvw;
}
body {
  color: theme('colors.white');
  background: theme('colors.fade-black');
  font-size: var(--default-paragraph-size);
  overflow-x: hidden;
  font-size: 1em;
}

ul, li {
  all: unset;
}

a, button {
  cursor: pointer;
}

footer {
  color: theme('colors.fade-black-400')
}

footer a, .sidebar a {
  color: theme('colors.fade-black-400'); 
  transition: all 120ms ease-in-out;
}

footer a:hover {
  color: theme('colors.white');
}

.sidebar a:hover {
  color: theme('colors.white');
}